*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'STIX Two Text', serif;
}
::-webkit-scrollbar{
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    z-index: 9999999;
}
::-webkit-scrollbar:hover{
    transform: scaleX(1.45);
}

::-webkit-scrollbar-thumb{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(186, 186, 186);
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
#back{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}
#back2{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}
#righttopleaf{
    width: 30%;
    position: fixed;
    right: 0;
    top: -8%;
    z-index: 999999;
}
#lefttopleaf{
    width: 30%;
    position: absolute;
    left: -3%;
    z-index: 99999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#leftBuild{
    position: fixed;
    left: -95px;
    width: 17%;
    height: 100%;
    z-index: 9999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#sun{
    position: fixed;
    left: 50%;
    bottom: 10%;
    z-index: -9;
    width: 8%;
    transform: translate(-50% , 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#leftbottomleaf{
    width: 18%;
    position: absolute;
    left: -2%;
    bottom: -5%;
    z-index: 99999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#rightbottomleaf{
    width: 25%;
    position: absolute;
    right: -11%;
    bottom: -5%;
    z-index: 999999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#Mountain01{
    z-index: 999;
    position: fixed;
    bottom: 0%;
    height: 25%;
    width: 130%;
    right: -30%;
}
#bottomPot{
    position: fixed;
    left: 15%;
    width: 4%;
    bottom: 10%;
    z-index: 99999;
}
#hut01{
    position: fixed;
    width: 18%;
    z-index: 99999;
    bottom: 15%;
    right: -5%;
}
/* #hut01{
    position: fixed;
    width: 18%;
    bottom: 15%;
    right: -5%;
    z-index: 999;
} */
#Mountain02{
    position: fixed;
    opacity: 5;
    z-index: 99;
    bottom: 4%;
    height: 20%;
    width: 100%;
    left: 0%;
}
#hut02{
    position: fixed;
    width: 13%;
    bottom: 13%;
    right: 10%;
    z-index: 99;
}
#Mountain03{
    position: fixed;
    z-index: 9;
    bottom: 4%;
    height: 35%;
    width: 100%;
    left: 0%;
}
#pyramid01{
    width: 20%;
    position: fixed;
    left: 38%;
    bottom: 16%;
}
#pyramid02{
    width: 15%;
    position: fixed;
    left: 22%;
    bottom: 18%;
}
#back h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#leftLines{
    height: 17%;
    position: absolute;
    left: -100%;
    top: 0%;
}
#rightLines{
    height: 15%;
    position: absolute;
    right: -100%;
    bottom: 45%;
}
#leftCloud01{
    width: 15%;
    position: absolute;
    left: -100%;
    top: 13%;
    transform: translate(-40% , -30% );
}
#leftCloud02{
    width: 13%;
    z-index: -9;
    position: absolute;
    right: -100%;
    top: 45%;
}
#back2 h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Page 3 */
#back3{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}

#homepg3{
    width: 60%;
    position: absolute;
    top: 25%;
    left: -100%;
    z-index: -9;
}
#back3 h2:nth-child(1){
    position: absolute;
    top: 6%;
    right: -100%;
}
#back3 h2:nth-child(3){
    position: absolute;
    bottom: 20%;
    left: -100%;
}
#rightbottomleafpg3{
    position: absolute;
    right: -6%;
    bottom: 3%;
    width: 750px;
}



/* Page 4---------------- */
#back4{
    position: relative;
    width: 100%;
    height: 100%;
}
#headpg4{
    text-align: center;
    position: absolute;
    left: -100%;
    top: -60%;
}
#riverwithTree{
    width: 105%;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, 0%);
}
/* .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 200%;
    height: 100%;
    background-image: url("./Images/Page\ 4/Asset 1.png");
    background-repeat: repeat no-repeat;
    background-position: bottom;
    background-size: cover;
    transform-origin: center;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 15s linear infinite;
}
.waveBottom {
    background-size: 100% 40%;
}
.waveAnimation .waveBottom {
    animation: move_wave 25s linear infinite;
} */
#peopleontree{
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
}
#treepeople01{
    position: absolute;
    right: -100%;
    bottom: -1%;
    height: 72%;
}
#treepeople02{
    position: absolute;
    right: -100%;
    bottom: -1%;
    height: 60%;
}
/* Page 5----------------------------- */

/* Page 5----------------------------- */

#back5{
    width: 100%;
    height: 210%;
    position: relative;
    background-color: black;
    /* background-image: url("/Images/Page\ 5/Asset 1.png"); */
    background-size: cover;
    background-position: center;
}
#backtop{
    width: 100%;
    height: 50%;
    position: relative;
}
#backbottom{
    width: 100%;
    height: 50%;
    position: relative;
}
#curveText{
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate( -50%, -50%);
}
#drumspg5{
    height: 0%;
    position: absolute;
    display: flex;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
}
#midLogo{
    width: 5%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* background-color: black; */
    transform: translate(-50% , -50%);
}
#bottomShirt{
    width: 13%;
    position: absolute;
    left: 50%;
    top: 69%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
#roundArrow01{
    height: 0%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Arrow01{
    height: 0%;
    position: absolute;
    top: 36%;
    left: 38%;
    transform: translate(-50%, -50%);
}
#Arrow02{
    height: 0%;
    position: absolute;
    top: 28%;
    right: 38%;
    transform: translate(-50%, -50%);
    transform: rotate(99deg);
    transform-origin: center;
}
#Arrow03{
    height: 0%;
    position: absolute;
    top: 64%;
    right: 37%;
    transform: translate(-50%, -50%);
    transform: rotate(181deg);
    transform-origin: center;
}
#Arrow04{
    height: 0%;
    position: absolute;
    top: 64%;
    left: 37%;
    transform: translate(-50%, -50%);
    transform: rotate(263deg);
    transform-origin: center;
}
#leftOlive{
    height: 0%;
    position: absolute;
    top: 53%;
    left: 36%;
    transform: translate(-50%, -50%);
}
#rightRolls{
    height: 0%;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%);
}
#leftOlive01pg5{
    animation: rotate_Olives_pg5 5s linear infinite;
    position: absolute;
    left: 20%;
    top: 15%;
    width: 25px;
    transform-origin: center;
}
#leftOlive02pg5{
    animation: rotate_Olives_pg5 5s linear infinite;
    position: absolute;
    left: 8%;
    top: 50%;
    width: 18px;
    transform-origin: center;
}
#leftOlive03pg5{
    animation: rotate_Olives_pg5 5s linear infinite;
    position: absolute;
    left: 20%;
    bottom: 15%;
    width: 35px;
    transform-origin: center;
}
#rightOlive04pg5{
    animation: rotate_Olives_pg5 5s linear infinite;
    position: absolute;
    right: 20%;
    top: 15%;
    width: 35px;
    transform-origin: center;
}
#rightOlive05pg5{
    animation: rotate_Olives_pg5 5s linear infinite;
    position: absolute;
    right: 8%;
    top: 50%;
    width: 45px;
    transform-origin: center;
}
#rightOlive06pg5{
    animation: rotate_Olives_pg5 5s linear infinite;
    position: absolute;
    right: 20%;
    bottom: 15%;
    width: 20px;
    transform-origin: center;
}

/* ----------------------- Page 6 --------------------------- */
#back6{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    overflow: hidden;
    background-image: url("/Images/Page\ 5/Asset 1.png");
}
#bigLogopg6{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    z-index: 99999;
    background-color: black;
    box-shadow: 0px 0px 58px rgb(255 255 255 / 41%);
    border-radius: 50%;
    transform: translate(-50% , -50%);
}
#Olive01pg6{
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#leaf01pg6{
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#bag01pg6{
    position: absolute;
    animation: rotate_Olives_pg5 40s linear both;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Olive02pg6{
    position: absolute;
    width: 0%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#pant01pg6{
    height: 0%;
    position: absolute;
    animation: rotate_Olives_pg5 40s linear both;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Olive03pg6{
    position: absolute;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Olive04pg6{
    position: absolute;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#leaf02pg6{
    position: absolute;
    width: 0%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#shirt01pg6{
    position: absolute;
    animation: rotate_Olives_pg5 40s linear both;
    width: 0%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#Olive05pg6{
    position: absolute;
    width: 0%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#leaf03pg6{
    position: absolute;
    width: 0%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Olive06pg6{
    position: absolute;
    width: 0%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#backbottom h2{
    color: white;
    position: absolute;
    bottom: 31%;
    right: 17%;
}
#shirte02pg6{
    position: absolute;
    animation: rotate_Olives_pg5 40s linear both;
    width: 0%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#bage01pg6{
    position: absolute;
    animation: rotate_Olives_pg5 40s linear both;
    width: 0%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#leaf04pg6{
    position: absolute;
    width: 0%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#pant02pg6{
    position: absolute;
    animation: rotate_Olives_pg5 40s linear both;
    height: 0%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
/* #rotatedRiver{
    width: 110%;
    height: 130%;
    transform-origin: center;
    transform: rotate(180deg);
    position: absolute;
    top: -30%;
    left: -2%;
    z-index: 9;
}

#midRiver{
    width: 100%;
    position: relative;
    height: 30%;
    background-color: white;
} */


/* ----------------------------------- Page 7 ----------------------- */

/* page 7   */
#back7{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}
#toprightbranch01pg7{
    position: absolute;
    right: -100%;
    top: -35%;
    width: 50%;
}
#toprightbranch02pg7{
    position: absolute;
    left: 22%;
    top: -100%;
    z-index: 99999;
    width: 60%;
}
#toprightbranch03pg7{
    position: absolute;
    top: -5%;
    left: -100%;
    width: 30%;
}
#Mountain01pg7{
    z-index: 9999;
    position: absolute;
    bottom: 0%;
    /* right: -15%;
    height: 20%; */
    right: -10%;
    height: 25%;
    width: 130%;
    z-index: 9999;
}
#Mountain02pg7{
    z-index: 9999;
    position: absolute;
    opacity: 5;
    z-index: 99;
    bottom: 4%;
    /* height: 20%; */
    height: 20%;
    width: 100%;
    /* left: -16%; */
    left: -5%;
}
#Mountain03pg7{
    z-index: 9999;
    position: absolute;
    z-index: 9;
    bottom: 4%;
    /* height: 28%; */
    height: 30%;
    width: 100%;
    /* right: -15%; */
    right: -10%;
}
#toprightbranch04pg7{
    position: absolute;
    bottom: 0%;
    left: -8%;
    height: 15%;
    z-index: 99999;
}
#bigTree01pg7{
    z-index: 999;
 position: absolute;
 height: 20%;
 left: 11%;
 bottom: 12%;
 z-index: 999;
}
#midTree02pg7{
    z-index: 999;
    position: absolute;
    bottom: 17%;
    right: 47%;
    height: 10%;
    z-index: 9;
}
#smallTree03pg7{
    z-index: 999;
    position: absolute;
    right: 26%;
    height: 10%;
    z-index: 9;
    bottom: 14%;
}
#head01pg7{
    position: absolute;
    top: 25%;
    font-size: 22px;
    left: -100%;
    text-align: center;
}
#head02pg7{
    position: absolute;
    right: -100%;
    top: 38%;
    font-size: 22px;
    text-align: center;
}
#logopg7{
    position: absolute;
    top: 0%;
    left: 45%;
    width: 15%;
    z-index: 99999;
    /* top: 81%;
    left: 80%;
    width: 6%; */
}



/* ----------------- page 8 ---------------------*/
#back8{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
#lefthillpg8{
    position: absolute;
    bottom: -25%;
    left: -5%;
    width: 82%;
}
#leftOlivespg8{
    position: absolute;
    height: 20%;
    bottom: 5%;
    left: 14%;
    z-index: 999;
}
#leftOlivesShadowpg8{
    position: absolute;
    height: 7%;
    bottom: 4.3%;
    left: 14.5%;
    opacity: 0;
}
#leftTree01pg8{
    position: absolute;
    height: 52%;
    left: 2%;
    bottom: 12%;
}
#back8 h2{
    position: absolute;
    left: -100%;
    top: 14%;
}
#Olive01pg8{
    position: absolute;
    left: 43%;
    top: 38%;
    width: 2%;
    animation: Olives_float 6s ease-in-out infinite;
}
#Olive02pg8{
    position: absolute;
    right: 10%;
    top: 20%;
    width: 4%;
    animation: Olives_float 6s ease-in-out infinite;
}
#container{
    width: 50%;
    height: 65%;
    /* background-color: red; */
    position: absolute;
    right: 4%;
    top: 8%;
    padding: 0px 30px;
    overflow: hidden;
}
#backShadow01pg8{
    position: absolute;
    bottom: 0%;
    height: 47%;
    left: -100%;
}
#backShadow02pg8{
    position: absolute;
    top: -100%;
    left: 33%;
    height: 47%;
}
#backShadow03pg8{
    position: absolute;
    bottom: 0%;
    height: 47%;
    right: -100%;
}
#pantpg8{
    position: absolute;
    top: 38%;
    height: 20%;
    right: 35%;
    opacity: 0;
    animation: float 6s ease-in-out infinite;
    transform-origin: center left;
}
#shirtpg8{
    position: absolute;
    top: 9%;
    width: 10%;
    right: 9%;
    opacity: 0;
    animation: float 6s ease-in-out infinite;
    transform-origin: center;
}
#pursepg8{
    position: absolute;
    top: 49%;
    width: 10%;
    right: 6%;
    opacity: 0;
    animation: float 6s ease-in-out infinite;
    transform-origin: center right;
}
#Logopg8{
    width: 0%;
    position: absolute;
    right: 6%;
    bottom: 9%;
    transform-origin: center;
}

/* ------------ page 9 -------------- */
#back9{
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url("/Images/Page\ 5/Asset 1.png");
}
#containerpg9{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* background-color: red; */
    overflow: hidden;
}
#logopg9{
    position: absolute;
    top: -100%;
    width: 35%;
    left: 34%;
    transform-origin: center center;
}
#contactus{
    position: absolute;
    bottom: 10%;
    left: -100%;
    width: 45%;
    background-color: white;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
#seeProducts{
    position: absolute;
    bottom: 10%;
    right: -100%;
    width: 45%;
    background-color: white;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}






















@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-15%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-30%) translateZ(0) scaleY(1)
    }
}

/* @keyframes rotate_on_pg5 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        transform-origin: center;
    }
} */
@keyframes rotate_elements_pg5 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        transform-origin: center;
    }
}
@keyframes rotate_Olives_pg5 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        transform-origin: center;
    }
}
@keyframes shaker {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes Olives_float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}